    <h3>Inclusão de produtos - MongoDB</h3>
    <br>  
    <form action="http://localhost:3000/produto/incluir" method="post">
        <input type="text" name="img" id="img" placeholder="caminho da sua imagem">
        <br>
        <input type="text" name="nomeItem" id="nomeItem" placeholder="nome do item">
        <br>
        <input type="text" name="tamanhoItem" id="tamanhoItem" placeholder="tamanho do item">
        <br>
        <input type="text" name="precoItem" id="precoItem" placeholder="preco do item">
        <br>
        <input type="text" name="estoque" id="estoque" placeholder="estoque do item">
        <br>
        <input type="text" name="qtd" id="qtd" placeholder="quantidade do item">
        <br>
        <br>
        <input type="submit" value="Enviar">
    </form>

